{% extends 'base.html.twig' %}
{% block title %}Editer un employé{% endblock %}

{% block body %}
	<div class="main-content-inner">
        <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
							<h3>Editer congé</h3>
							{{ form(congeForm) }}
						</div>
					</div>
				</div>
		</div>
	</div>
{% endblock %}